In [ ]:
#LIST WITH MULTIPLE DATATYPES
l2=["A",2,"B",4,5]

In [ ]:
l2

['A', 2, 'B', 4, 5]

In [ ]:
# CHANGE ITEM VALUE
L2=[1,2,3,4,5,6,7]

In [ ]:
L2[-1]

7

In [ ]:
L2[3:6]

[4, 5, 6]

In [ ]:
#ACCESSING THE LIST

In [ ]:
L2

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#TUPLE 2 type of data structure

t1=(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
t2=("ashish","mayank")
t2

('ashish', 'mayank')

In [ ]:
a=2
t3=(a>=2,a+2,a&2)

t3

(True, 4, 2)

In [ ]:
t4=[(1,2,44,"ashish","harshita",a>2,)]

In [ ]:
my_list = list(t4)#converting tuple into list

In [ ]:
my_list.pop(2)

False

In [ ]:
t1=('AAFT',)  #For single element we have to use comma!
print(type(t1))

<class 'tuple'>

In [ ]:
ab=('apple','banana','cherry')

In [ ]:
ab[1]

'banana'

In [ ]:
a=("apple","banana","cherry")

In [ ]:
c=list(a)

In [ ]:
c.append("mango")
a=tuple(c)

In [ ]:
a

('apple', 'banana', 'cherry')

In [ ]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
thistuple=(tuple(y))

In [ ]:
thistuple

('apple', 'banana', 'cherry')

In [ ]:
thistuple=("apple","banana","cherry")
y=("orange",)
thistuple+=y

In [ ]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
fruits=("apple","banana","cherry")
mytuple=fruits*2

In [ ]:
mytuple

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
mytuple=(1,2,3,4,5,6,7,8,9,8)

In [ ]:
x=mytuple.count(8)   #count=will tell how many values are repeated

In [ ]:
x

2

In [ ]:
x=mytuple.index(8) #index = will tell the position of number

In [ ]:
x

7