In [ ]:
#fatorial
n=int(input('enter any number : '))
fact=1
for i in range(1,n+1):
    fact=fact*i
print('the factorial of',n,'is',fact)

enter any number : 3
the factorial of 3 is 6

In [ ]:
# CALCULATE  FACTORIAL WITH WHILE LOOP
n=int(input('enter any number : '))
fact=1
i=1
while i<=n:
    fact=fact*i
    i=i+1
print('the factorial of',n,'is',fact)

enter any number : 4
the factorial of 4 is 24

In [ ]:
# wap to check given number is prime or not
n=int(input('enter any number : '))
if n==0 or n==1:
        print('not prime')
elif n>1:
        for i in range(2,n):
          if n%i==0:
            print('not prime')
          break
        else:
         print('prime')

enter any number : 0
not prime

In [ ]:
# REVERSE NUMBER
num=int(input('enter any number : '))
rev=0
while num>0:
 rev=(rev*10)+(num%10)
 num=num//10
print('reverse number is',rev)

enter any number : 98769867
reverse number is 76896789

In [ ]:
# palindrome
num=int(input('enter any number : '))
temp=num
rev=0
while num>0:
 rev=(rev*10)+(num%10)
 num=num//10
if temp==rev:
    print('palindrome')
else:
    print('not palindrome')

enter any number : 121
palindrome

In [ ]:
# fibonacci series
num=int(input('enter any number : '))
a=0
b=1
print(a)
print(b)
for i in range(2,num):
  c=a+b
  print(c)
  a=b
  b=c

enter any number : 7
0
1
1
2
3
5
8

In [ ]:
num=int(input('enter any number : '))
a=0
b=1
print(a)
print(b)
i=2
while(i<num):
  c=a+b
  print(c)
  a=b
  b=c
  i=i+1

enter any number : 8
0
1
1
2
3
5
8
13

In [ ]:
# armstrong
n=int(input('enter any number : '))
x=n
sum=0
while(n>0):
  sum=sum+(n%10)*(n%10)*(n%10)
  n=n//10
if x==sum:
  print('armstrong')
else:
  print('not armstrong')

enter any number : 9
not armstrong

In [ ]:
#WAP TO PRINT LEFT TRIANGLE
n=int(input('enter any number : '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter any number : 10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#RIGHT TRIANGLE
n=int(input('enter any number : '))
for i in range(1,n+1):
  for j in range(1,n+1-i):
    print(' ',end='')
  for k in range(1,i+1):
    print('*',end='')
  print()

enter any number : 9
        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [ ]:
#set
a={1,2,3,4}

In [ ]:
type(a)

set

In [ ]:
type (a)

dict

In [ ]:
ApplicationError={"name":{"age":24,
    "a":1,
    "b":2
}}

In [ ]:
  myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  }}

In [ ]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004}}

In [ ]:
ApplicationError

{'name': {'age': 24, 'a': 1, 'b': 2}}